.DS_Store
node_modules
.project
public/*.min.js
public/*.min.css
public/*.json
public/LICENSE.md
chosen*.zip
.sass-cache
.ruby-version
.rbenv-gemsets
.grunt
_SpecRunner.html
spec/public
bower_components
